root = true

[*]
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true

[*.{cs,md}]
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4

[*.{csproj,resx,config,manifest,yml,yaml}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
